//- V A R I A B L E S
-var titulo = "Escala de inteligencia de Weschler para niños (WISC-IV)"
-var titlesnav = ["Inicio", "Profesionistas", "Noticias", "Contacto", "Tema"]
-var profesionistas = ["Todos", "Psicólogos", "Nutriologos", "Ingenieros", "Estilistas", "Jardinería"]
-var tabla__titulo = ["Mótivos de Consulta", "Tecnologías", "Conocimientos", "Especialidades"]
-var servicio = ["Servicios", "Proyectos"]
-var servicio__decripcion = ["Cualquier servicio necesita completa disponibilidad y compromiso por parte del paciente.", "Cualquier servicio necesita completa disponibilidad y compromiso por parte del cliente."]

//- M I X I N 
//- H O M E P A G E  - H E A H D
mixin homepage_head(descripcion, sitename, imagen, title)
	head 
		meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(name="author" content="carlosArturoMT")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		meta(name="author" content="carlosArturoMT")
		meta(name="DC.creator" content="carlosArturoMT")
		meta(name="copyright" content="carlosArturoMT")
		meta(name="description"
				content= descripcion)
		meta(pproperty="og:site_name" content=sitename)
		meta(property="og:title" content=sitename)
		meta(property="og:description"
				content=descripcion)
		meta(property="og:image"
				content=imagen)
		meta(property="og:image:url"
				content=imagen)
		meta(property="og:url" content="https://DeTexcoco.com")
		meta(property="og:type" content="blog")
		meta(itemprop="image"
				content=imagen)
		meta(name="twitter:image"
				content=imagen)
		meta(itemprop="image"
				content=imagen)
		link(rrel="image_src"
				href=imagen)
		title= title
		link(rel="preconnect" href="https://fonts.gstatic.com")
		link(href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
				rel="stylesheet")
		link(rel="icon" type="image/png" href="../../../assets/icons/notebook-of-contacts1.png")
		link(rel="stylesheet" href="/profesionistas/css/homepage_styles.css")

//- H O M E P A G E  - H E A D E R
mixin homepage_header
	header#overlay
		.logo: a(href="index"): img(src="https://www.texcocoedomex.gob.mx/img/logo_vive_bien.png", alt="logo")
		nav#sidebar 
			ul
				li: a(href="index")
					|  Inicio
				li: a(href="/profesionistas/")
					|  Profesionistas
				li: a(href="https://noticias.detexcoco.com")
					|  Noticias
				li: a(href="https://carlosarturomt.com/contacto")
					|  Contacto
				li.buttonStyle.li-p#theme(aria-label="Dark Theme"): p
					span.theme 
		#toggle

//- F O R M - D A T E
mixin form_simple(form, nombreprof, email)
	aside.overlay-popup#overlayPopup: div.popup#popup
		a.closePopup#closePopup(href="#"): i.fa.fa-times
		h4= form
		form(action="/profile/form.php" method="POST")
			.container-inputs
				input(type="text" hidden name="profesionista" value=nombreprof)
				input(type="email" hidden  name="destino1" value=email)
				label(for="name") Nombre 
				input(type="text" placeholder="Name" name="nombre" autocomplete="on" required)
				label(for="email") Email
				input(type="email" placeholder="Email" name="correo" autocomplete="email")
				label(for="phone") Teléfono
				input(type="phone" placeholder="Phone" name="numero" autocomplete="tel" required)
				label(for="text") Mensaje
				textarea(cols="45" rows="4" name="mensaje" placeholder="Message" required)
			input(type="submit" name="btn-submit" class="btn-submit" value="Enviar") 

//- F O R M - S E R V I C E S
mixin form_services(form, nombreprof, email, servicio0, servicio1, servicio2, servicio3, servicio4)
	aside.overlay-popup#overlayPopup1: div.popup#popup1
		a.closePopup#closePopup1(href="#services"): i.fa.fa-times
		h4= form
		form(action="/profile/form.php" method="POST")
			.container-inputs
				input(type="text" hidden name="profesionista" value=nombreprof)
				input(type="email" hidden  name="destino1" value=email)
				label(for="") Servicio 
				br
				select.popup-select(name="servicio" placeholder="Servicio" required)
					option(hidden selected style="color:gray !important") Selecciona una opción
					option.popup-option= servicio0
					option.popup-option= servicio1
					option.popup-option= servicio2
					option.popup-option= servicio3
					option.popup-option= servicio4
				br
				label(for="date") Fecha Tentativa
				input(type="date" name="fecha" placeholder="")
				label(for="name") Nombre
				input(type="text" placeholder="Name" name="nombre" autocomplete="on" required)
				.ageSex
					.age
						label(for="name") Edad
						input(type="text" placeholder="Age" name="edad" autocomplete="on" required)
					.sex
						label(for="name") Sexo
						input(type="text" placeholder="Sex" name="sexo" autocomplete="on")
				.ageSex
					.age
						label(for="phone") Teléfono
						input(type="phone" placeholder="Phone" name="numero" autocomplete="tel" required)
					.sex
						label(for="email") Email
						input(type="email" placeholder="Email" name="correo" autocomplete="email")
				label(for="text") Mensaje
				textarea(cols="45" rows="4" name="mensaje" placeholder="Message" required)
			input(type="submit" name="btn-submit1" class="btn-submit" value="Enviar") 

//- B U T T O N - F L O A T
mixin button_wh(numero)
	.button__WhatsApp: a(href="https://api.whatsapp.com/send?phone=52"+numero target="_blank" rel="noopener"): img.button__WhatsApp--home(src="https://detexcoco.com/assets/icons/whatsapp.png", alt="boton WhatsApp")

//- C A R D - P O R T F O L I O 
mixin card_portfolio(icon, title, date, image, url, github, text)
	article.container__card
		aside.container__card--header
			img.container__card--header-photo(src=icon alt="profile photo")
			hgroup
				h2=title
				h3=date
		a(href=url target="_blank" rel="noopener noreferrer"): img.container__card--cover(src=image alt="cover")
		p=text
		footer
			a.item-a(href=url target="_blank" rel="noopener noreferrer") Ver más
			a.item-b(href=github target="_blank" rel="noopener noreferrer") GitHub    
			//- i.share.item-d

//- C A R D - G A L L E R Y
mixin card_gallery(title, url, text)
	article.container__card
		aside.container__card--header
			hgroup
				h2=title
				h3=date
		img.container__card--cover-100(src=url alt="cover")
		p=text

//- C A R D - G A L L E R Y - S I M P L E
mixin card_gallery-simple(icon, name, date, text, url, alt)
	article.container__card100
		aside.container__card100--header
			img.container__card100--header-photo.border-radius(src=icon alt="profile photo")
			hgroup
				.flex
					h3=name
					span= date
				p=text
		img.container__card100--cover-100(src=url alt=alt)